*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;

}
.Logo{
    height: 60px;
}
.Header_Container{
    width:100%;
    height:90px;
    background: gray;
    display: flex;
    justify-content:center;
    align-items: center;
}
.Main{
    width: 95%;
    height:90%;
    display: flex;
    justify-content: space-between;
}
.dark{
    background-color: gray;
    color: white;
}
.light{
    background-color: white;
    color: gray;
}
.Head_Content{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.NavTab{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
.shopping{
   color: white;
}
.Burger {
    display: none;
  }
@media screen and (max-width: 767px) {
    .NavTab{
      display: none;
    }
    .Burger {
      display: flex;
    }
}
